async-generator==1.10
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2022.12.7
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-SSLify==0.1.5
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
lxml==4.3.0
MarkupSafe==1.1.0
pyaes==1.6.1
pyasn1==0.4.5
pyTelegramBotAPI==3.6.6
requests==2.21.0
rsa==4.0
six==1.12.0
soupsieve==1.7.3
Telethon==1.5.4
urllib3==1.24.1
Werkzeug==0.14.1
